/* ALL */
* {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    margin-left: 1%;
}

/* FORM */

#cpPokemon {
    display: none;
}

#pokemonFormSelect {
    display: none;
}

#pokemonShinySelect {
    display: none;
}

.selectForm {
    margin-right: 2%;
    width: 150px;
}